/* Css for the Landing page */
.home-wrapper .trip-entry {
    display: block;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    margin-bottom: 30px;
    position: relative;
}

.home-wrapper .trip-entry::before {
    font-family: FontAwesome;
    content: "\f055";
    color: rgb(97, 219, 251);
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
    -webkit-transition: all .8s;
    transition: all .8s;
    z-index: -1;
}

.home-wrapper .trip-entry:hover {
    top: -1px;
}

.home-wrapper .trip-entry:hover::before {
    top: 45%;
    text-align: center;
    z-index: 10;
}

.home-wrapper .trip-entry:hover img {
    opacity: .7;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.home-wrapper{
    max-width: 600px;
    margin: 0 auto;
}