.heading{
    color: #337ab7;
    padding: 20px 0;
}
.wrapper{
    max-width: 600px;
     margin: 20px 0;
}
.btnActions{
    float: right;
    padding-bottom: 2em;
}
.boxContent{
    background: #f8f9fa;
}
.span{
    padding-left: 7px;
}

.form{
    width: 70%;
    margin: 0 auto
}