{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>

<head>
    <title>Trips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/3.23.6/antd.min.css">
</head>

<body>
    <div id="container"></div>
    {% render_bundle 'main' %}
</body>

</html>